<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=m0NRG9APeKtIu5X85CSYZdI6"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
	<title>长三角地区水文数据</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap", {mapType: BMAP_HYBRID_MAP});
	var navCtrl = new BMap.NavigationControl();
	map.addControl(navCtrl);
	map.centerAndZoom(new BMap.Point(116.403765, 39.914850), 8);
	map.enableScrollWheelZoom();
	var geoc = new BMap.Geocoder();
	var polygons = [];
	$.ajax({
      url: "http://localhost:8000/maps/hot_area_names",
      type: "GET",
      crossDomain: true,
      dataType: "json",
      success: function(data) {
		var bdary = new BMap.Boundary();
		map.clearOverlays();        //清除地图覆盖物
        var pointArray = [];
      	var cities = data.cities;
      	var cityCnt = cities.length;
      	var cityRendered = 0;
      	for (var c in cities) {
      		var city = cities[c];
            console.log(city.name);
            console.log(city.location);
            var mouseoverTxt = city.name + "水域：" + parseInt(Math.random() * 1000,10);
		    var myCompOverlay = new ComplexCustomOverlay(
		    	new BMap.Point(city.location.longitude, city.location.latitude),
		    	city.name, mouseoverTxt
		    );

            map.addOverlay(myCompOverlay);
      		bdary.get(city.name, function(rs) {
      			var count = rs.boundaries.length;
      			if (count === 0) {
                    alert('未能获取当前输入行政区域');
                    return;
      			}
      			var onOverFlag = false;
                for (var i = 0; i < count; i++) {
                    var ply = new BMap.Polygon(
                        rs.boundaries[i],
                        {strokeWeight: 1, strokeColor: "#ff0000", fillColor: ""}
                    ); //建立多边形覆盖物
                    map.addOverlay(ply);  //添加覆盖物
                    polygons.push(ply);
                    pointArray = pointArray.concat(ply.getPath());
                }
                cityRendered++;
                if (cityRendered >= cityCnt) {
                    map.setViewport(pointArray);    //调整视野
                }
      		})
      	}
      }
    });

	var mousemoveHandler = null;
    map.addEventListener('mousemove', function(e) {
        console.log(e.point);
        clearTimeout(mousemoveHandler);
        var pt = e.point;
        mousemoveHander = setTimeout(function() {
        	var needClear = true;
        	for (var p in polygons) {
        		var ply = polygons[p];
        		if (BMapLib.GeoUtils.isPointInPolygon(pt, ply)) {
        			needClear = false;
                    geoc.getLocation(pt, function(rs){
                        var addComp = rs.addressComponents;
                        $(".complex_custom_overlay").hide();
                        $("#show" + addComp.city).show();
                    });
        		}
        	}
        	if (needClear) {
                $(".complex_custom_overlay").hide();
        	}
        }, 200);
    });


	function ComplexCustomOverlay(point, city, mouseoverText){
      this._point = point;
      this._city = city;
      this._overText = mouseoverText;
    }
    ComplexCustomOverlay.prototype = new BMap.Overlay();
    ComplexCustomOverlay.prototype.initialize = function(map){
      this._map = map;
      var div = this._div = document.createElement("div");
      div.id = "show" + this._city;
      div.className = "complex_custom_overlay";
      console.log(div.id);
      div.style.position = "absolute";
      div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
      // div.style.backgroundColor = "#EE5D5B"; // red
      div.style.backgroundColor = "#6BADCA";
      // div.style.border = "1px solid #BC3B3A"; // red
      div.style.border = "1px solid #0000FF";
      div.style.color = "white";
      div.style.height = "18px";
      div.style.padding = "2px";
      div.style.lineHeight = "18px";
      div.style.whiteSpace = "nowrap";
      div.style.MozUserSelect = "none";
      div.style.fontSize = "12px";
      div.style.display = '';
      var span = this._span = document.createElement("span");
      div.appendChild(span);
      span.appendChild(document.createTextNode(this._overText));
      var that = this;

      var arrow = this._arrow = document.createElement("div");
      arrow.style.background = "url(//map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) 0 -20px no-repeat";
      arrow.style.position = "absolute";
      arrow.style.width = "11px";
      arrow.style.height = "10px";
      arrow.style.top = "22px";
      arrow.style.left = "10px";
      arrow.style.overflow = "hidden";
      div.appendChild(arrow);

      map.getPanes().labelPane.appendChild(div);

      return div;
    }
    ComplexCustomOverlay.prototype.draw = function(){
      var map = this._map;
      var pixel = map.pointToOverlayPixel(this._point);
      this._div.style.left = pixel.x - parseInt(this._arrow.style.left) + "px";
      this._div.style.top  = pixel.y - 30 + "px";
      this._div.style.display = 'none';
    }

</script>
